<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hosein Designer</title>
    <link href="/styles.css" rel="stylesheet">
    <link href="/assets/bootstrap-5/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/bootstrap-icons-1.11.3/bootstrap-icons-1.11.3/font/bootstrap-icons.min.css" rel="stylesheet">
    <link href="/assets/owl/owl.css" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="img/logo.ico">
</head>

<body>
    <header>
        <section class="top-nav">
            <div>
                <img loading="lazy" src="img/HoseinAsg_editor_logo1.png" width="80" class="rounded-circle m-2">
                <b class="fs-5">Hosein Asgari | Graphic designer</b>
            </div>
            <input id="menu-toggle" type="checkbox" />
            <label class='menu-button-container' for="menu-toggle">
                <div class='menu-button'></div>
            </label>
            <ul class="menu">
                <li><a href="#work-samples">Work Samples</a></li>
                <li><a href="#about">About Our Team</a></li>
                <li><a href="#request-service">Request Service</li>
                <li><a href="https://instagram.com/HoseinAsg_Editor">Instagram Page</a></li>
                <li><a href="https://youtube.com/@@HoseinEditor_Photoshop">Youtube Channel</a></li>
            </ul>
        </section>
    </header>

    <main class="container py-4">
        @RenderBody()
    </main>
</body>
<script src="/assets/jquery/jquery.min.js"></script>
<script src="/scripts.js"></script>
<script src="/assets/bootstrap-5/js/bootstrap.min.js"></script>
<script src="/assets/owl/owl.js"></script>
<script src="/assets/purecounter/purecounter.js"></script>

</html>